* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #27272b;
    color: #FAF3EC;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.page-transition {
    position: absolute;
    top: 0;
    background-color: #612F42;
    width: 100%;
    height: 0%;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18rem;
    z-index: 20;
}

header .nav {
    display: flex;
}

header .nav a {
    margin-left: 2rem;
    color: #FAF3EC;
    text-decoration: none;
    font-size: 1.8rem;
}

.nav a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 2px;
    border-radius: 1rem;
    background-color: #FAF3EC;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 15rem;
}